### Q1: (Printing and Input)
Print your name and age using two print statements.

In [1]:
name=input("Enter the name:")
age=input("Enter your age:")
print(name)
print(age)

jigmet
18

### Q2: (Printing and Input)
Print the result of 10 + 20.

In [2]:
a=10
b=20
print(a+b)

30

### Q3: (Printing and Input)
Use `input()` to take a user's name and greet them.

In [3]:
user_name=input("Enter your name:-")
print("hello " +name)

hello jigmet

### Q4: (Printing and Input)
Input two numbers and print their sum.

In [4]:
a=int(input("Enter the first number"))
b=int(input("Enter second number"))
sum=a+b
print(sum)

16

### Q5: (Printing and Input)
Ask for a favorite color and print it twice using multiplication.

In [5]:
color=input("what is your favorite color:")
print(color*2)

blueblue

### Q6: (Printing and Input)
Ask the user to input a sentence and print its length.

In [ ]:
sentence=input("Enter a sentence that you want:")
len(sentence)

22

### Q7: (Variable and Data Types)
Create a variable for each type: int, float, string, bool. Print them.

In [7]:
int=10
float=10.10
string="10.aaa"
bool=True
print(int, "\n", float ,"\n", string ,"\n", bool)

10
 10.1
 10.aaa
 True

### Q8: (Variable and Data Types)
Assign the value 10 to x and then add 5 to it. Print the result.

In [8]:
x=10
sum=x+5
print(sum)

15

### Q9: (Variable and Data Types)
Check the type of variable `val = 3.14`.

In [9]:
val=3.14
type(val)

float

### Q10: (Variable and Data Types)
Use multiple assignment to assign 3 values to a, b, c.

In [10]:
a, b, c = 1, 2, 3

print(a)
print(b)
print(c)

1
2
3

### Q11: (Complex Numbers)
Create complex numbers x = 2+3j and y = 4-2j. Print their sum.

In [11]:
x=2+3j
y=4-2j
sum=x+y
print(sum)

(6+1j)

### Q12: (Complex Numbers)
Print the real and imaginary parts of 5 + 7j.

In [12]:
com=5+7j
print("Real part:",com.real)
print("Imaginery part:",com.imag)

Real part: 5.0
Imaginery part: 7.0

### Q13: (Complex Numbers)
Multiply two complex numbers: (1+2j)*(3+4j) and print the result.

In [13]:
# Define two complex numbers
z1 = 2 + 3j
z2 = 4 + 5j

# Multiply them
product = z1 * z2

# Print the result
print("Product:", product)

Product: (-7+22j)

### Q14: (If-Else and Comparisons)
Check if the number 12 is greater than 10 and print a message.

In [14]:
number = 12

if number > 10:
    print("The number is greater than 10.")

The number is greater than 10.

### Q15: (If-Else and Comparisons)
Ask for an age and print whether the person is an adult or not.

In [1]:
ages=int(input("Enter your age: "))
type(ages)
if ages >= 18:
    print("You are an adult.")
else:
    print("You are not an adult.")

You are an adult.

### Q16: (If-Else and Comparisons)
Check if a number is even or odd.

In [2]:
number=int(input("enter the number"))
if number%2==0:
    print("Given number is even .")
else:
    print("Given number is odd .")

Given number is even .

### Q17: (If-Else and Comparisons)
Compare two input numbers and print which is larger.

In [12]:
a=10
b=20
if a>b:
    print("Larger number is ",a)
else:
    print("Larger number is ",b)

Larger number is  20

### Q18: (Loops)
Print numbers from 1 to 10 using a for loop.

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q19: (Loops)
Print all even numbers from 0 to 20.

In [4]:
for n in range(0,21):
    if n%2==0:
        print(n)

0
2
4
6
8
10
12
14
16
18
20

### Q20: (Loops)
Print the multiplication table of 7.

In [6]:
for m in range(1,11):
    print("7 *",m,"=",7*m)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

### Q21: (Loops)
Use a while loop to print numbers from 5 to 1.

In [ ]:
# Your answer here

### Q22: (Loops)
Print the characters of a string one by one using a loop.

In [10]:
str="jikmet lama"
for n in str:
    print(n)

j
i
k
m
e
t

l
a
m
a

### Q23: (String Operations)
Concatenate 'Hello' and 'World' and print.

In [4]:
print('hello'+'world')

helloworld

### Q24: (String Operations)
Repeat the word 'Yes' 4 times using *.

In [5]:
print("yes"*4)

yesyesyesyes

### Q25: (String Operations)
Find the length of a string input by user.

In [6]:
String=input("enter a string")
len(String)

15

### Q26: (String Operations)
Access and print the first and last character of a string.

In [3]:
st="jikmet"
len(st)
print(st[0:6:5])

jt

### Q27: (Lists)
Create a list of 5 fruits and print the third item.

In [8]:
list=["apple","banana","orange","watermillon","pineapple"]
print(list[2])

orange

### Q28: (Lists)
Add 'mango' to the list and print.

In [9]:
list.append("mango")
print(list)

['apple', 'banana', 'orange', 'watermillon', 'pineapple', 'mango']

### Q29: (Lists)
Remove the first item of the list and print the rest.

In [10]:
list.remove("apple")
print(list)

['banana', 'orange', 'watermillon', 'pineapple', 'mango']

### Q30: (Lists)
Sort a list of numbers in descending order.

In [16]:
list=[2,3,1,5,7,6,9]
list.sort()
print(list[::-1])

[9, 7, 6, 5, 3, 2, 1]

### Q31: (Lists)
Print every second item from a list using slicing.

In [17]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
every_second_item = my_list[::2]
print(every_second_item)

[10, 30, 50, 70, 90]

### Q32: (Tuples)
Create a tuple with 4 numbers and print its last item.

In [18]:
tuple=(3,5,2,7)
print(tuple)

(3, 5, 2, 7)

### Q33: (Tuples)
Try changing the value of an item in a tuple and observe the error.

In [ ]:
# Your answer here

### Q34: (Tuples)
Convert a tuple to a list, change a value, and convert it back.

In [ ]:
# Your answer here

### Q35: (Sets)
Create a set of 3 elements and add one more element.

In [ ]:
# Your answer here

### Q36: (Sets)
Try adding a duplicate and print the set.

In [ ]:
# Your answer here

### Q37: (Sets)
Perform union of two sets {1,2,3} and {3,4,5}.

In [ ]:
# Your answer here

### Q38: (Dictionaries)
Create a dictionary for a student with name, age, grade. Print the dictionary.

In [ ]:
# Your answer here

### Q39: (Dictionaries)
Access the age from the dictionary.

In [ ]:
# Your answer here

### Q40: (Dictionaries)
Update the grade of the student.

In [ ]:
# Your answer here

### Q41: (Dictionaries)
Add a new key 'subject' to the dictionary.

In [ ]:
# Your answer here

### Q42: (Indexing and Slicing)
Create a list of numbers and print elements from index 1 to 4.

In [ ]:
# Your answer here

### Q43: (Indexing and Slicing)
Access every second element in the list.

In [ ]:
# Your answer here

### Q44: (Indexing and Slicing)
Print the last three characters of the string 'Programming'.

In [ ]:
# Your answer here

### Q45: (Nested Structures)
Create a nested list and print the second element of the first list.

In [ ]:
# Your answer here

### Q46: (Nested Structures)
Create a nested dictionary and access a nested value.

In [ ]:
# Your answer here

### Q47: (NumPy Basics)
Import numpy and create a 1D array from 0 to 9.

In [ ]:
# Your answer here

### Q48: (NumPy Basics)
Create a 2D array with shape (2,3).

In [ ]:
# Your answer here

### Q49: (NumPy Basics)
Print the shape and dtype of an array.

In [ ]:
# Your answer here

### Q50: (NumPy Basics)
Use np.linspace to create 5 values from 1 to 10.

In [ ]:
# Your answer here

### Q51: (NumPy Basics)
Generate a random array of shape (3,3).

In [ ]:
# Your answer here

### Q52: (NumPy Basics)
Find the maximum and mean of a numpy array.

In [ ]:
# Your answer here

### Q53: (NumPy Basics)
Access element at row 1, col 2 in a 2D array.

In [ ]:
# Your answer here

### Q54: (NumPy Basics)
Flatten a 2D array.

In [ ]:
# Your answer here

### Q55: (NumPy Basics)
Stack two arrays vertically.

In [ ]:
# Your answer here

### Q56: (NumPy Basics)
Slice the first two rows of a 2D numpy array.

In [ ]:
# Your answer here

### Q57: (NumPy Basics)
Slice the first two rows of a 2D numpy array.

In [ ]:
# Your answer here

### Q58: (NumPy Basics)
Print the shape and dtype of an array.

In [ ]:
# Your answer here

### Q59: (String Operations)
Repeat the word 'Yes' 4 times using *.

In [ ]:
# Your answer here

### Q60: (Variable and Data Types)
Use multiple assignment to assign 3 values to a, b, c.

In [ ]:
# Your answer here

### Q61: (Dictionaries)
Add a new key 'subject' to the dictionary.

In [ ]:
# Your answer here

### Q62: (Variable and Data Types)
Assign the value 10 to x and then add 5 to it. Print the result.

In [ ]:
# Your answer here

### Q63: (Nested Structures)
Create a nested list and print the second element of the first list.

In [ ]:
# Your answer here

### Q64: (Loops)
Print the characters of a string one by one using a loop.

In [ ]:
# Your answer here

### Q65: (Sets)
Try adding a duplicate and print the set.

In [ ]:
# Your answer here

### Q66: (NumPy Basics)
Flatten a 2D array.

In [ ]:
# Your answer here

### Q67: (Printing and Input)
Ask for a favorite color and print it twice using multiplication.

In [ ]:
# Your answer here

### Q68: (String Operations)
Repeat the word 'Yes' 4 times using *.

In [ ]:
# Your answer here

### Q69: (Printing and Input)
Ask for a favorite color and print it twice using multiplication.

In [ ]:
# Your answer here

### Q70: (If-Else and Comparisons)
Check if a number is even or odd.

In [ ]:
# Your answer here

### Q71: (NumPy Basics)
Import numpy and create a 1D array from 0 to 9.

In [ ]:
# Your answer here

### Q72: (Loops)
Use a while loop to print numbers from 5 to 1.

In [ ]:
# Your answer here

### Q73: (If-Else and Comparisons)
Check if the number 12 is greater than 10 and print a message.

In [ ]:
# Your answer here

### Q74: (Indexing and Slicing)
Access every second element in the list.

In [ ]:
# Your answer here

### Q75: (Loops)
Use a while loop to print numbers from 5 to 1.

In [ ]:
# Your answer here

### Q76: (Printing and Input)
Print the result of 10 + 20.

In [ ]:
# Your answer here

### Q77: (Printing and Input)
Ask for a favorite color and print it twice using multiplication.

In [ ]:
# Your answer here

### Q78: (Lists)
Remove the first item of the list and print the rest.

In [ ]:
# Your answer here

### Q79: (NumPy Basics)
Use np.linspace to create 5 values from 1 to 10.

In [ ]:
# Your answer here

### Q80: (Complex Numbers)
Create complex numbers x = 2+3j and y = 4-2j. Print their sum.

In [ ]:
# Your answer here

### Q81: (Printing and Input)
Ask for a favorite color and print it twice using multiplication.

In [ ]:
# Your answer here

### Q82: (Complex Numbers)
Create complex numbers x = 2+3j and y = 4-2j. Print their sum.

In [ ]:
# Your answer here

### Q83: (Dictionaries)
Access the age from the dictionary.

In [ ]:
# Your answer here

### Q84: (Lists)
Create a list of 5 fruits and print the third item.

In [ ]:
# Your answer here

### Q85: (NumPy Basics)
Stack two arrays vertically.

In [ ]:
# Your answer here

### Q86: (Loops)
Use a while loop to print numbers from 5 to 1.

In [ ]:
# Your answer here

### Q87: (Lists)
Remove the first item of the list and print the rest.

In [ ]:
# Your answer here

### Q88: (Lists)
Create a list of 5 fruits and print the third item.

In [ ]:
# Your answer here

### Q89: (Printing and Input)
Ask for a favorite color and print it twice using multiplication.

In [ ]:
# Your answer here

### Q90: (Tuples)
Convert a tuple to a list, change a value, and convert it back.

In [ ]:
# Your answer here

### Q91: (NumPy Basics)
Import numpy and create a 1D array from 0 to 9.

In [ ]:
# Your answer here

### Q92: (Variable and Data Types)
Use multiple assignment to assign 3 values to a, b, c.

In [ ]:
# Your answer here

### Q93: (Variable and Data Types)
Check the type of variable `val = 3.14`.

In [ ]:
# Your answer here

### Q94: (Tuples)
Convert a tuple to a list, change a value, and convert it back.

In [ ]:
# Your answer here

### Q95: (If-Else and Comparisons)
Compare two input numbers and print which is larger.

In [ ]:
# Your answer here

### Q96: (Sets)
Try adding a duplicate and print the set.

In [ ]:
# Your answer here

### Q97: (Dictionaries)
Access the age from the dictionary.

In [ ]:
# Your answer here

### Q98: (Lists)
Add 'mango' to the list and print.

In [ ]:
# Your answer here

### Q99: (Sets)
Create a set of 3 elements and add one more element.

In [ ]:
# Your answer here

### Q100: (If-Else and Comparisons)
Compare two input numbers and print which is larger.

In [ ]:
# Your answer here